<div class="container-fluid">

    <h1 class="bg-center text-primary"> To Do Application </h1>

    <form>
        <div class="form-group">

            <label>Username</label>
            <input type="text" name="username" class="form-control" [(ngModel)]="username">
        </div>

        <div class="form-group">

            <label>Password</label>
            <input type="password" name="username" class="form-control" [(ngModel)]="password">
        </div>
        <button class="btn btn-primary" type="submit" (click)="login()">Login</button>

    </form>

    <!-- <div>
        <h4 class="invalid-feedback" *ngIf="isInvalidCredentials"> Invalid Credentails </h4>
    </div> -->
    &nbsp;&nbsp;
    <div class="alert-danger container-sm" *ngIf="isInvalidCredentials">
        <div class="space"> </div>
        <h4> Invalid Credential</h4>

    </div>


</div>
