
<header id= "main-header">
  <div class="my-container">
  <h1>My Website </h1>
</div>
</header>

<nav id ="navbar">

<div class="my-container">
  <ul>
    <li><a href="#"> Home </a></li>
    <li><a href="#"> Services </a></li>
    <li><a href="#"> Contact </a></li>
    <li><a href="#"> About </a></li>
  </ul>
</div>
</nav>

<section id="showcase">
<div class="my-container">
  <h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cupiditate qui iure nobis est
  </h1>
</div>
</section>

<section id ="main-area">

<h1>Welcome</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem eos tenetur neque, cupiditate possimus illo deleniti? Velit voluptatibus labore at a eos dignissimos consequatur recusandae facilis architecto aspernatur eveniet error, odio quos sit sapiente laborum, odit harum animi minus nesciunt neque provident possimus! Quis qui nisi doloremque in, harum perferendis ad quasi quisquam enim cum odio. Quos, explicabo molestiae voluptatum, minus culpa saepe, eveniet magnam sint natus similique ad dolor. Voluptas sapiente sed maiores modi voluptatum rem architecto</p>
</section>

<aside id ="side-area">
<h2>Hello</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet iusto, repellendus consectetur doloremque, vel totam ratione placeat possimus voluptates suscipit quis iste distinctio. Eius, blanditiis soluta quasi enim quo pariatur.</p>

</aside>
<div class="clr"></div>

<footer id="my-footer">
<div class="my-container">

  <p> Copyright &copy;2020 My Website</p>
</div>

</footer>



